<div class="hero-section">
  <div class="hero-banner container d-flex align-items-center">
    <div class="hero-image">
      <%= image_tag "dt_banner.jpg", alt: "Visual Representation", class: "img-fluid" %>
    </div>
    <div class="banner-content text-center">
      <h1>Organize and visualize your bills in one place</h1>
      <%= link_to "GET STARTED", new_user_registration_path, class: "btn btn-dark btn-lg" %>
    </div>
  </div>
</div>
