<div class="hero-section mb-0 pb-0">
  <div class="hero-banner container d-flex align-items-center">
    <div class="hero-image">
      <%= image_tag "dt_banner.jpg", alt: "Visual Representation", class: "img-fluid" %>
    </div>
    <div class="banner-content text-center">
      <h1>Organize e visualize suas contas em um só lugar</h1>
      <%= link_to "COMEÇAR", new_user_registration_path, class: "btn btn-dark btn-lg" %>
    </div>
  </div>
</div>
