<div class="hero-section">
      <div class="hero-banner">
        <div class="container">
          <div class="banner-content text-center">
            <h1>Organize and visualize your bills in one place</h1>
            <p class="lead mb-4">Take control of your finances today</p>
            <%= link_to "GET STARTED", new_user_registration_path, class: "btn btn-light btn-lg" %>
          </div>
        </div>
      </div>
    </div>
